{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    If you want to constrain concurrency, you can use task modifiers
  </p>

  <p class="p-4 text-xl text-pink-light">
    Here we're using the `drop` modifier
  </p>

  <p class="p-4">
    {{content.button
      text="toggle highlight"
      onClick=(action (broadcast-to-role 'screen' 'toggleHighlight'))
    }}
  </p>

  <p class="p-4 text-xl text-pink-light">
    With the `drop` modifier, if there is already an instance of the task running, new tasks are immediately cancelled
  </p>

  <p class="p-4">
    {{content.button
      text="perform"
      onClick=(action (broadcast-to-role 'screen' 'startTask'))
    }}

    {{content.button
      text="cancel"
      onClick=(action (broadcast-to-role 'screen' 'cancelTasks'))
    }}

    {{content.button
      text="clear"
      onClick=(action (broadcast-to-role 'screen' 'clearTasks'))
    }}
  </p>

{{/slide.content}}

