{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    So this was the first slide of my talk, and it will be good intro to the rest of this talk.
  </p>

  <p class="p-4 text-xl text-yellow">
    My slides are an Ember app running on my laptop
  </p>

  <p class="p-4 text-xl text-green-light">
    I'm also running the same app on my phone, which allows me to control the presentation and read notes on my slides
  </p>

  <p class="p-4 text-sm text-center text-white uppercase">
    pause until laptop moves
  </p>

  <p class="p-4 text-xl text-pink-light">
     I'll soon ask you to open the same web app on your phones so that you too can interact with the presentation
  </p>

  <p class="p-4 text-sm text-center text-white uppercase">
    pause until just before next is clicked
  </p>

  <p class="p-4 text-xl text-yellow">
    When I trigger a drum sound from my phone, it sends real-time messages to all connected clients to play that sound.
  </p>

  <p class="p-4 text-xl text-green-light">
    These messages are being relayed through a simple node.js server that I built using socket.io.
  </p>

  <p class="p-4 text-xl text-pink-light">
    And this is running in Amazon's California data center
  </p>


{{/slide.content}}