{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    With Alex's permission, I recently began extracting his talk into an ember-present addon which I've imported into this presentation
  </p>

{{/slide.content}}