<div class="bg-black pin fixed">

</div>

{{#slide.content}}
  <div class="self-center p-4 mb-4 text-5xl text-grey-darkest">
    <h1 class="font-hershey">Ableton Live should be showing</h1>
  </div>
{{/slide.content}}

<div class="bg-blue-dark pin-b pin-r absolute text-4xl px-8 py-4">
  <h4>@gavinjoyce</h4>
</div>