{{#slide.content}}

  <h1 class='text-center'>Beethoven's 5th</h1>

  {{#if symphonyInstrument}}
    <h4 class='text-center mt-6'>You are playing the</h4>
    <h2 class='text-center'>{{symphonyInstrument}}</h2>
  {{else}}
    <h4 class='text-center'>...</h4>
  {{/if}}

{{/slide.content}}