{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    ember-animated is a core primitive in ember-present, so it's easy to animate across slide transitions
  </p>

{{/slide.content}}

