{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    This was really an amazing event - it felt more like a Radiohead concert than a usual tech event
  </p>

  <p class="p-4 text-xl text-yellow">
    For it, I wanted to come up with a talk that was slightly different
  </p>

  <p class="p-4 text-xl text-green-light">
    I think that it's amazing that we get to live in a time where it's possible to build an impactful career where the work rarely feels like work
  </p>

  <p class="p-4 text-xl text-pink-light">
    And I wanted to build something that was fun and a little bit different
  </p>

{{/slide.content}}