{{stay-awake}}

{{#slide.content as |content|}}
  <div class="self-center p-6 text-pink text-center">
    <h2 class="font-hershey">Choose your section</h2>
  </div>

  <div class="self-center text-center flex flex-col">
    {{#each (array 'left' 'middle' 'right') as |section|}}
      <div class="m-2">
        {{content.button
          text=section
          onClick=(action (update-user-data 'section' section))
          class=(if (eq section session.user.metadata.section) 'bg-pink hover:bg-pink')
        }}
      </div>
    {{/each}}
  </div>
{{/slide.content}}