{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    ...
  </p>

  <p class="p-4 text-xl text-yellow">
    ...
  </p>

  <p class="p-4 text-xl text-green-light">
    ...
  </p>

{{/slide.content}}