{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    ...
  </p>

  <p class="p-4">
    {{content.button
      text="◀️"
      onClick=(action (broadcast-to-role 'screen' 'moveRandomLeft'))
    }}

    {{content.button
      text="▶️"
      onClick=(action (broadcast-to-role 'screen' 'moveRandomRight'))
    }}
  </p>

{{/slide.content}}

