{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Here's another example - Alex Matcheneer gave a great talk on his "ember-concurrency" addon a couple of years ago
  </p>

  <p class="p-4 text-xl text-green-light">
    His presentation was a custom built ember app which he used to run interactive examples of managing asynchronous code
  </p>

  <p class="p-4 text-xl text-blue-light">
    Alex's talk was a real inspiration to me, I came away wanting to be able to build and give talks like his
  </p>

{{/slide.content}}