{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    You might recognise our business messenger in the lower right hand corner of many great web businesses.
  </p>

  <p class="p-4 text-xl text-yellow">
    Our messenger is a React app, it's about 2.5 years old
  </p>

{{/slide.content}}