{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    And here's what my Smartphone Symphony presentation looks like running locally
  </p>

  <p class="p-4">
    {{content.button
      text="▶️ Play"
      onClick=(action (broadcast-to-role 'screen' 'videoNext'))
    }}
  </p>

  <p class="p-4 text-xl text-blue-light">
    The screen at the top, the presenter on the left and then 4 audience members
  </p>

  <p class="p-4 text-xl text-blue-light">
    This slide shows an example of a real-time poll which is really easy to setup
  </p>

{{/slide.content}}