<div class="text-black text-6xl">
  <h1 class="font-hershey">{{title}}</h1>
  <h3 class="font-hershey">{{subtitle}}</h3>
</div>
<div class="-mt-32">
  {{ember-chart type='bar' data=chartData options=chartOptions}}
</div>