{{#slide.content as |content|}}

  {{#each (array 'kick' 'clap' '15step') as |sound|}}
    <button onclick={{action (broadcast 'playSound' (hash sound=sound))}}>
      {{sound}}
    </button>
  {{/each}}

{{/slide.content}}