<div class="bg-black pin fixed">

</div>

{{#slide.content}}
  <div class="self-center p-4 mb-4 text-5xl text-grey-darkest">
    <h1 class="font-hershey">Ableton Live should be showing</h1>
  </div>
{{/slide.content}}
