{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Alright, live demo time. It's 2018, what could go wrong?
  </p>

  <p class="p-4 text-xl text-yellow">
    If you'd like to participate, please take out your phone and load <strong>bit.ly/jsconfus</strong>
  </p>

  <p class="p-4 text-xl text-green-light">
    When it loads, you can enter your name and click "next"
  </p>

  <p class="p-4 text-xl text-pink-light">
    We'll be triggering sounds on your phone, so please turn up the volume on your device. You can press the buttons to test some drum sounds.
  </p>

  <p class="p-4 text-xl text-yellow">
    If you’ve got an iPhone, you may have to flip the mute switch on the top left of your phone.
  </p>

  <p class="p-4 text-sm text-center bg-yellow-light text-blue uppercase">
    wait for ~30 seconds or so until the connected count has grown to many hundreds
  </p>

  <p class="p-4 text-xl text-green-light">
    You can see a count of connected people in the upper right corner of the main screen, [459] of you are currently connected.
  </p>

  <p class="p-4 text-xl text-pink-light">
    This demo will work best if your phone doesn’t go asleep, so a little message will pop up from time to time asking you to tap your screen to keep your phone awake.
  </p>

  <p class="p-4 text-xl text-yellow">
    If it doesn't work for you for some reason, perhaps you could be the person to record a video of audience and post it on twitter?
  </p>

{{/slide.content}}