{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Sharing our stories helps us attract amazing people to the company, here are a collection of "Intercomics" - everyone gets one of these each year on their anniversary of joining the company
  </p>

  <p class="p-4 text-xl text-yellow">
    These are personal and contain highlights celebrating the impact and achievements that each person has over the course of a year
  </p>

{{/slide.content}}