{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    So `ember new` creates a new ember app
  </p>

  <p class="p-4 text-xl text-blue-light">
    `ember install ember-present` installs the addon and allows the ember app to become a presentation
  </p>

  <p class="p-4 text-xl text-yellow">
    `ember generate slide` sets up the empty slides routes and components
  </p>

{{/slide.content}}