{{#slide.content}}
  <div class="self-center p-4 mb-4">
    <h1 class="text-yellow">
      {{#if playingSound}}
        {{playingSound}}
      {{else}}
        -
      {{/if}}
    </h1>
  </div>
{{/slide.content}}
