{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Not particularly useful, but the background colours can also be changed in realtime
  </p>

  <p class="p-4">
    {{content.button
      text="Change color"
      onClick=(action (broadcast-to-role 'screen' 'changeColor'))
    }}
  </p>

{{/slide.content}}