{{#slide.content as |content|}}

  <p class="p-4 text-xl text-yellow-light">
    I work for Intercom in Dublin, Ireland.
  </p>

  <p class="p-4 text-xl text-pink-light">
    We also have engineering teams in our offices in San Francisco and London.
  </p>

{{/slide.content}}