{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    I work at Intercom in Dublin, Ireland. We also have engineering teams in our offices in SF and London.
  </p>

{{/slide.content}}