{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    And in November we put on our first engineering focused event - again in Dublin, in the famous Vicar St.
  </p>

  <p class="p-4 text-xl text-yellow">
    We had a set of technical talks about how we approach building and iterating products in Intercom
  </p>

{{/slide.content}}