{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    ember-present comes with tailwind css so styling slides is really simple and quick
  </p>

  <p class="p-4 text-xl text-blue-light">
    something that I want to add soon is themeing, and tailwind should make it easy to do so
  </p>

{{/slide.content}}