{{ember-present-ember-concurrency/slides/no-modifier slide=slide}}

{{#if showTaskHighlight}}
  {{!-- TODO: make it easy to highlight parts of the slide --}}
  <div class="pin absolute">
    <span class="highlight bg-yellow absolute opacity-50" style="width: 100px; height: 40px; top: 215px; left: 246px">
    </span>
  </div>
{{/if}}

{{#if showGeneratorHighlight}}
  {{!-- TODO: make it easy to highlight parts of the slide --}}
  <div class="pin absolute">
    <span class="highlight bg-pink absolute opacity-50" style="width: 273px; height: 40px; top: 215px; left: 354px">
    </span>
  </div>
{{/if}}