{{backgrounds/gradient-background colors=(array '#e7e33c' '#e7e33c' '#d52362' '#d523ba')}}

{{#slide.content}}
  <div class="self-center text-blue-lightest text-10xl">
    <h1 class="text-shadow">third</h1>
  </div>
{{/slide.content}}

<div class="bg-blue-dark pin-b pin-r absolute text-4xl px-8 py-4">
  <h4>@gavinjoyce</h4>
</div>