{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    I got to give my talk a second time, this time at this year's EmberConf in Portland
  </p>

  <p class="p-4 text-xl text-yellow">
    Happily all the major parts of the talk worked, although there were still a few hiccups
  </p>

{{/slide.content}}