{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    And a video components, there are realtime controls for navigating the video and the source can be changed dynamically in real time as I'm doing here
  </p>

  <p class="p-4">
    {{content.button
      text="Change video"
      onClick=(action (broadcast-to-role 'screen' 'changeVideo'))
    }}
  </p>

{{/slide.content}}