{{x-video-slide
  src="/video/glimmer-vm-internals.mp4"
  sections=(array
    (hash start=0 end=30)
  )
  autoplay=false
}}

<div class="bg-blue-dark pin-b pin-r absolute text-4xl px-8 py-4">
  <h4>@gavinjoyce</h4>
</div>