{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    This graph shows the difference in time across all devices. The phones on the left are ahead of the server time, the phones on the right are behind
  </p>

  <p class="p-4 text-xl text-yellow">
    We can use this difference to correctly offset sounds when trying to play them in synchrony across all devices.
  </p>

{{/slide.content}}