{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    After I got home, I realised my mistake.
  </p>

  <p class="p-4 text-xl text-yellow">
    A race condition and the lack of a guard resulted in this exception bringing down the server.
  </p>

  <p class="p-4 text-xl text-green-light">
    At that time I hadn't done much Node.
  </p>

  <p class="p-4 text-xl text-pink-light">
    Hopefully that was a lesson learned
  </p>

{{/slide.content}}