<div class="pin absolute {{currentColorClass}}"></div>

<div class="pin absolute text-6xl m-8">
  <span class="bg-green p-4 shadow-lg">{{currentColorClass}}</span>
</div>

<div class="bg-blue-dark pin-b pin-r absolute text-4xl px-8 py-4">
  <h4>@gavinjoyce</h4>
</div>