{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Hey everyone, I'm Gavin - I'm very excited to be here to give my Smartphone Symphony talk.
  </p>

  <p class="p-4 text-xl text-blue-light">
    Parts of my talk rely on real time communication between your phones and my laptop.
  </p>

  <p class="p-4 text-xl text-green-light">
    Unfortunatly, the conference wifi seems to be operating by carrier pidgeon.
  </p>

  <p class="p-4 text-xl text-pink-light">
    To maximise our chances of this working well, perhaps you could disable wifi now on your laptops and ipads? Thanks
  </p>

  <div class="self-center p-4 m-4 text-grey-darker">
    {{#each (array 'kick' 'snare' 'clap') as |sound|}}
      {{content.button
        text=sound
        onClick=(action (broadcast-to-role 'screen' 'playSound') (hash sound=sound))
        class="w-full mt-4"
      }}
    {{/each}}
  </div>

{{/slide.content}}