{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Hey everyone, I'm Gavin - I'm very excited to be here to give my Smartphone Symphony talk.
  </p>

  <div class="self-center p-4 m-4 text-grey-darker">
    {{#if audio.isSpriteLoaded}}
      <p>Test with these 🥁</p>

      {{#each (array 'kick' 'snare' 'clap') as |sound|}}
        {{content.button
          text=sound
          onClick=(action 'play' sound target=audio)
          class="w-full mt-4"
        }}
      {{/each}}
    {{else}}
      <p>Loading audio...</p>
    {{/if}}
  </div>

{{/slide.content}}