{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Hey everyone, I'm Gavin - I'm very excited to be here to give my Smartphone Symphony talk.
  </p>

  <p class="p-4 text-xl text-yellow">
    TODO: some buttons for resetting things
  </p>

{{/slide.content}}