{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Hey everyone, I'm Gavin - I'm very excited to be here to give my Smartphone Symphony talk.
  </p>

  <div class="self-center p-4 m-4 text-grey-darker">
    {{#each (array 'kick' 'snare' 'clap') as |sound|}}
      {{content.button
        text="toggle highlight"
        onClick=(action (broadcast-to-role 'screen' 'playSound') (hash sound=sound))
        class="w-full mt-4"
      }}
    {{/each}}
  </div>

{{/slide.content}}