{{backgrounds/gradient-background}}

{{#slide.content}}
  <div class="self-center m-8 w-4/5 text-6xl">
    <div class="px-16">
      {{code-snippet
        name="inline.js"
        source='//router.js
this.route("slides", function() {
  this.slide("01-first");
  this.slide("02-second");
  this.slide("03-third");
});'
      }}
    </div>
  </div>

{{/slide.content}}
