{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    The reason I'm telling you this in a little more detail that I normally would at a conference talk is to explaing the origins of this talk
  </p>

  <p class="p-4 text-xl text-yellow">
    Each year we hold a series of product focused events where share our approach to building products that people love
  </p>

  <p class="p-4 text-xl text-green-light">
    This picture is from our SF event last year
  </p>

{{/slide.content}}