{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    As a final example, here's a talk from Edward Faulkner at this year's EmberConf where he introduced his amazing new addon `ember-animated`
  </p>

  <p class="p-4">
    {{content.button
      text="▶️ Play"
      onClick=(action (broadcast-to-role 'screen' 'videoNext'))
    }}
  </p>

{{/slide.content}}