{{x-video-slide
  src="/video/phone-sync.mp4"
  sections=(array
    (hash start=0.0 end=4.833)
    (hash start=4.833 end=9.4667)
    (hash start=9.4667 end=10.5667)
    (hash start=10.5667 end=11.6)
    (hash start=11.6 end=17.5)
  )
}}

<div class="bg-blue-dark pin-b pin-r absolute text-4xl px-8 py-4">
  <h4>@gavinjoyce</h4>
</div>