{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    We also have a pretty large Ember app which is the app that our customers use day in and day out.
  </p>

  <p class="p-4 text-xl text-yellow">
    It contains multiple ambitious apps within one and we've over 100 engineers who regularly work on it.
  </p>

  <p class="p-4 text-xl text-green-light">
    Our Ember app is 4.5 years old and, like most Ember apps that follow the chrome-like 6 week release cycle, it has never been healthier
  </p>

  <p class="p-4 text-xl text-pink-light">
    I'm very proud of the technology choices that we've made over the years.
  </p>

  <p class="p-4 text-xl text-yellow">
    Knowing what I now know, and with the benefit of heinseight, if I could go back a few years, I would argue strongly for use to choose React for our lightweight messenger and Ember for our larger, more complex, customer facing suite of apps.
  </p>

{{/slide.content}}