{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    We also have a reasoably large Ember app which is the app that our customers use day in and day out.
  </p>

  <p class="p-4 text-xl text-green-light">
    Our Ember app is 4.5 years old and, like most Ember apps that follow the chrome-like 6 week release cycle, our codebase has never been healthier
  </p>

{{/slide.content}}