{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Having had lots chats over the last couple of days of this conference, I kow that many of you work for great companies.
  </p>

  <p class="p-4 text-xl text-yellow">
    I'm proud to say that Intercom is also a great company. We have a strong ambition to become one THE great technology companies of our time
  </p>

  <p class="p-4 text-xl text-green-light">
    Like all great companies, we share our ideas and our values. Here is a collection of books that we publish for example
  </p>

{{/slide.content}}