{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    So before we try it here I want to talk a little about the software that allows these presentations to be created
  </p>

  <p class="p-4 text-xl text-blue-light">
    Since EmberConf, I've been extracting some of the capabilities of my talk into `ember-present` - an ember addon which allows anyone to create rich, real-time interactive presentation like this one
  </p>

{{/slide.content}}