<div class="bg-black pin fixed">
  {{connected-users}}
</div>

{{#slide.content}}
  <div class="self-center p-4 mb-4 text-8xl text-green">
    <h1 class="font-hershey">Synchronised Drums</h1>
  </div>

  <div class="border-2 border-dashed border-blue text-10xl {{if playingSound 'bg-blue'}} text-yellow p-16 w-4/5">
    <h1 class="font-hershey">
      {{#if playingSound}}
        {{playingSound}}
      {{else}}
        &nbsp;
      {{/if}}
    </h1>
  </div>
{{/slide.content}}
