{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    There was a live stream and Lennex happened to be randomly selected while watching in Zimbabwe which was pretty special
  </p>

{{/slide.content}}