<div class="pointer rounded-full w-6 h-6 -m-3 bg-yellow border-blue border-2 relative"></div>

{{#if isWaiting}}
  <h1 class="m-auto p-8 m-8 bg-black opacity-50 text-xl rounded">starts in {{startsIn}}</h1>
{{else}}
  <div class="automation-box z-0 w-6 h-6 -m-3 -mt-6 border-yellow border-2 border-dashed relative"></div>
{{/if}}