{{#slide.content as |content|}}

  <p class="p-4">
    {{content.button
      text="toggle highlight"
      onClick=(action (broadcast-to-role 'screen' 'toggleHighlight'))
    }}
  </p>

  <p class="p-4 text-xl text-pink-light">
    Another modifier, enqueue, waits until previous tasks have completed before executig
  </p>


  <p class="p-4">
    {{content.button
      text="perform"
      onClick=(action (broadcast-to-role 'screen' 'startTask'))
    }}

    {{content.button
      text="cancel"
      onClick=(action (broadcast-to-role 'screen' 'cancelTasks'))
    }}

    {{content.button
      text="clear"
      onClick=(action (broadcast-to-role 'screen' 'clearTasks'))
    }}
  </p>

{{/slide.content}}

