{{#slide.content as |content|}}

  <p class="p-4 text-xl text-blue-light">
    As presentations can be interactive, you can define multipile roles.
  </p>

  <p class="p-4 text-xl text-green-light">
    So in this case, there is a presenter role and a screen role
  </p>

{{/slide.content}}

