{{stay-awake}}

{{#slide.content class="bg-pink" as |content|}}
  <div class="self-center p-6 text-black text-center">
    <h2 class="font-hershey">Your network latency</h2>
  </div>

  <div class="self-center p-4 text-black">
    {{#if latency.hasResults}}
      {{#if latency.fastestResponse.latencyInMs}}
        <h4 class="pb-2">
          ✅ fastest: {{latency.fastestResponse.latencyInMs}}ms
        </h4>
        <h4 class="pb-2">
          🕓 offset: {{latency.fastestResponse.serverOffsetInMs}}ms
        </h4>
      {{/if}}
    {{/if}}
  </div>
{{/slide.content}}