{{#slide.content}}
  <div class="flex flex-col h-screen bg-black p-2">
    {{#each-in song as |_ instrument|}}
      {{#let (get this instrument.id) as |musician|}}
        <div class="flex-1 flex flex-col">
          <div class="flex-shrink text-center text-xl font-bold font-hershey py-2">
            <span class="text-blue-light">{{instrument.name}}</span>
            <span class="text-yellow">{{musician.username}}</span>
          </div>
          <div class="flex-grow {{if musician instrument.lightBackgroundClass instrument.darkBackgroundClass}}">
            {{instrument-xy
              xy=(get this (concat instrument.id 'Xy'))
              beat=beat
              instrument=instrument
            }}
          </div>
        </div>
      {{/let}}
    {{/each-in}}
  </div>
{{/slide.content}}
