{{ember-present-ember-concurrency/slides/restartable-modifier slide=slide}}

{{#if showHighlight}}
  {{!-- TODO: make it easy to highlight parts of the slide --}}
  <div class="pin absolute">
    <span class="highlight bg-yellow absolute opacity-50" style="width: 270px; height: 40px; top: 215px; left: 640px">
    </span>
  </div>
{{/if}}

<div class="bg-blue-dark pin-b pin-r absolute text-4xl px-8 py-4">
  <h4>@gavinjoyce</h4>
</div>