{{#slide.content as |content|}}

  <p class="p-4 text-xl text-pink-light">
    Now that we have the phones synced, let's add the venue's speakers.
  </p>

  <p class="p-4 text-xl text-yellow">
    I'm going to randomly select a few people from different sections of the audience to control some sounds.
  </p>

  <p class="p-4 text-xl text-green-light">
    If you'd like to participate, please choose the section of the audience where you are sitting.
  </p>

{{/slide.content}}