{{#slide.content}}
  {{connected-users}}

  <div class="self-center p-4 mb-4 text-indigo text-5xl">
    <h1 class="text-shadow">Realtime drums...</h1>
  </div>

  <div class="self-center p-4 mb-4 text-indigo text-5xl">
    <h1 class="text-yellow">
      {{#if playingSound}}
        {{playingSound}}
      {{else}}
        &nbsp;
      {{/if}}
    </h1>
  </div>
{{/slide.content}}
